<div class="container">
  <div class="row ask">
    <%= "#{params[:question]} -- You" %>
  </div>
  <div class="row answer">
    <%="Coach -- #{@answer}" %>
  </div>
  <div class="row">
    <%= link_to "Ask a new question", "ask" %>
  </div>
</div>


